@import '../../asset/style/variable';

input:focus {
  outline: none;
}

.input {
  border: none;
  width: 80%;
  max-width: 800px;
  margin-top: 40px;
  padding: 16px;
  border-radius: 50px;
}

.search-layer {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: absolute;
  top: 0;
}

@media all and (max-width: 1024px) {
  .input {
    margin-top: 20px;
    padding: 18px;
  }
}

@media all and (max-width: 750px) {
  .input {
    margin-top: 20px;
    padding: 12px 16px;
    border-radius: 30px;
  }
}