@import './variable';

html {
  font-size: 10px;
}

.size-11 { font-size: 1.1rem; }
.size-12 { font-size: 1.2rem; }
.size-13 { font-size: 1.3rem; }
.size-14 { font-size: 1.4rem; }
.size-15 { font-size: 1.5rem; }
.size-16 { font-size: 1.6rem; }
.size-17 { font-size: 1.7rem; }
.size-18 { font-size: 1.8rem; }
.size-19 { font-size: 1.9rem; }
.size-20 { font-size: 2.0rem; }

.bold {
  font-weight: bold;
}

	
@media all and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

// @media all and (max-width: 750px) {
//   html {
//     font-size: 12px;
//   }
// }