body {
  background-color: red;
}
.movie-modal {
  position: absolute;
  top: 0;
  width: calc(100% - 124px);
  height: calc(100% - 124px);
  margin: 50px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  text-align: left;
  overflow-y: scroll;
  &-close {
    display: flex;
    flex-direction: row;
  }
  &-contents {
    padding: 12px 0;
    &-info {
      display: flex;
      margin-top: 16px;
      &-img {
        min-width: 300px;
        margin-right: 20px;
        img {
          width: 100%;
          width: -webkit-fill-available;
        }
      }
      &-detail {
      }
    }
  }
}

@media all and (max-width: 1023px) {
  .movie-modal {
    &-contents {
      &-info {
        display: block;
        &-img {
          min-width: 100%;
          margin: 0 0 20px 0;
        }
      }
    }
  }
}