body {
  background-color: red;
}
.movie-modal {
  position: absolute;
  top: 0;
  width: calc(100% - 124px);
  height: calc(100% - 124px);
  margin: 50px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  text-align: left;
  &-close {
    display: flex;
    flex-direction: row;
  }
  &-contents {
    padding: 12px 0;
    &-info {
      display: flex;
      margin-top: 16px;
      &-img {
        width: 25%;
      }
    }
  }
}