@import './asset/style/variable';

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  &-header {
    .logo {
      width: 50%;
      max-width: 200px;
      margin-top: 32px;
    }
    .title {
      color: $white;
    }
  }
}